<% @league_even = ((league_counter % 2) == 0) %>
<% @league_last = (league_counter + 1 == league_count) %>
<% if @league_even %>
<li>
  <div class="row-fluid">
<% end %>
    <div class="<%= @league_even ? "span3" : "span3 offset6" %>">
      <%= link_to league.name, league %>
    </div>
    <div class="<%= @league_even ? "span3 offset3" : "span3 offset9" %>">
      <%= link_to "Rename", edit_league_path(league), class: "btn btn-mini btn-primary" %>

      <%= link_to "Delete", league, method: :delete,
                  data: { confirm: "Are you certain?" },
                  title: league.name,
                  class: "btn btn-mini btn-primary" %>
    </div>
<% if !@league_even || @league_last %>
  </div>
</li>
<% end %>